<h1>List All Greetings</h1>
<table>
	<tr>
		<th>Greeting</th>
	</tr>
<% @greeting.each do |greet| %>
	<tr>
		<td><%= greet.greeting %></td>
		<td><%= link_to "Edit", edit_greeting_path(greet.id) %></td>
		<td><%= link_to "Delete", greet, method: :delete %></td>
	</tr>
	<% end %>
</table>
